@use '../../utils' as *;


/*----------------------------------------*/
/*  6.17 Video
/*----------------------------------------*/

.mk-video-area {
    padding: 300px 30px;

    @media #{$xl,$lg} {
        padding: 200px 30px;
    }
    @media #{$xs,$md} {
        padding: 150px 30px;
    }
}